VITE_SUPABASE_PROJECT_ID="einqpvylfmibcmgzauho"
VITE_SUPABASE_URL=https://einqpvylfmibcmgzauho.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpbnFwdnlsZm1pYmNtZ3phdWhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMDI4NzgsImV4cCI6MjA5MDc3ODg3OH0.10oejwXPzBUx61IxsIRXZqIga4Onh8mPw1RC0-KJjjA
